{% extends "layout.html" %}
<!--<style>-->
<!--  h1 {margin-top:100;}-->
<!--</style>-->
{% block heading %}
myPlants page
{% endblock %}

{% block body %}
<a href="https://front.codes/" class="logo" target="_blank">
    <img src="https://assets.codepen.io/1462889/fcy.png" alt="">
    <link href="./static/css/loginReg.css" rel="stylesheet"/>

</a>
<div class="section">
    <div class="container">
        <div class="row full-height justify-content-center">
            <div class="col-12 text-center align-self-center py-5">
                <div class="section pb-5 pt-5 pt-sm-2 text-center">
                    <h6 class="mb-0 pb-3"><span>Log In</span><span>Sign Up</span></h6>
                    <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
                    <label for="reg-log"></label>
                    <div class="card-3d-wrap mx-auto">
                        <div class="card-3d-wrapper">
                            <div class="card-front">
                                <div class="center-wrap">
                                    <div class="section text-center">
                                        <div>
                                        {% with messages = get_flashed_messages() %}
                                        {% if messages %}
                                        {% for message in messages %}
                                        <p>{{ message }}</p>
                                        {% endfor %}
                                        {% endif %}
                                        {% endwith %}
                                        </div>
                                        <div class="login-wrap py-5">
                                            <div class="img d-flex align-items-center justify-content-center"
                                                 style="background-image: url(static/images/greenhouse-logo_10250-3662.png);"></div>
                                            <!--
                                                SIGN IN
                                            -->
                                            <h4 class="mb-4 pb-3">Sign in by entering the information below</h4>
                                            <form action="{{ url_for('login') }}" method="post">
                                                {{ loginForm.hidden_tag() }}
                                                <div class="form-group">
                                                    {{loginForm.username(placeholder="UserName", class="form-style")}}
                                                </div>
                                                <div class="form-group mt-2">
                                                    {{loginForm.password(placeholder="Password", class="form-style")}}
                                                </div>
                                                {{loginForm.submitLogin(class="btn mt-4")}}
                                            </form>
                                            <p class="mb-0 mt-4 text-center"><a href="#0" class="link">Forgot your
                                                password?</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--SIGN UP-->
                            <div class="card-back">
                                <div class="center-wrap">
                                    <div class="section text-center">
                                        <h4 class="mb-4 pb-3">Sign Up</h4>
                                        <form action="{{ url_for('register') }}" method="POST">
                                            {{ registerForm.hidden_tag() }}
                                            <div class="form-group">
                                                {{registerForm.username(placeholder="UserName", class="form-style")}}
                                            </div>
                                            <div class="form-group">
                                                {{registerForm.name(placeholder="Your Name", class="form-style")}}
                                            </div>
                                            <div class="form-group mt-2">
                                                {{registerForm.location(placeholder="Location", class="form-style")}}
                                            </div>
                                            <div class="form-group mt-2">
                                                {{registerForm.password(placeholder="Password", class="form-style")}}
                                            </div>
                                            <div class="form-group mt-2">
                                                {{registerForm.confirm_password(placeholder="Confirm Password",
                                                class="form-style")}}
                                            </div>
                                            {{registerForm.submit(class="btn mt-4")}}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

