{% extends "layout.html" %}
<!--<style>-->
<!--  h1 {margin-top:100;}-->
<!--</style>-->
{% block heading %}
myPlants page
{% endblock %}

{% block body %}
{% if current_user.is_authenticated %}
<!--<a href="{{ url_for('index')}}"> index</a>-->
<script defer src="static/js/pubnub.js"></script>
<div class="containertable">
    <section>
        <!-- display a table of players -->
        <h1>My Plants</h1>
        <table>
            <tr>
                <th>Plant Name</th>
                <th>Last Watered</th>
                <th>Day Planted</th>
                <th>Condition</th>
            </tr>
<!--            <tr>-->
            {% for plant in plants %}
<!--            </tr>-->
            <tr>
<!--                <td class="plant_id">{{plant.plant_id}}</td>-->
<!--                <td><img src="../static/images/tomato.jpg" width="100px" height="100px"></td>-->
                <td>{{plant.plant_name}}</td>
                <td>{{plant.watered}}</td>
                <td>{{plant.planted}}</td>
                <td><img src="../static/images/Smile-PNG-Images.png" width="50px" height="50px">
<!--                <td>{{plant.Ideal_soil_moisture}}</td>-->
<!--                <td>-->
<!--&lt;!&ndash;                <input id="water_button" type="submit" value="water" onclick="handleClick(this);">&ndash;&gt;-->
<!--                </td>-->
            </tr>
            {% endfor %}
        </table>
    </section>
</div>
{% endif %}
{% endblock %}

